/* general */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #fff5fa;
  margin-top: 4em;
}

main {
  margin-top: 4em;
  margin-left: 15em;
  margin-right: 15em;
  color: rgb(100, 118, 239);
  font-family: Raleway;
}

img {
  max-width: 300px;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 8em;
  z-index: 1;
  padding: 3em;

  color: #fff5fa;
  background-color: rgb(252, 76, 140);
  font-family: Raleway;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}

.house-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.house-card {
  width: 800px;
  height: 300px;
  background-color: rgb(230, 230, 249);
  border-radius: 1em;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;

  font-family: Raleway;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}

.lorem-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Raleway;
  color: rgb(100, 118, 239);
  background-color: rgb(230, 230, 249);
  border-radius: 1em;
  width: 800px;
  height: 300px;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  margin: 8em;
}

.navigation-title {
  padding-left: 2em;
}
.lorem-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}
